<p id="notice"><%= notice %></p>
<%= form_with(url: tasks_path, method: :get, local: true) do |f| %>
<div class="center">
  <div class="field">
    <%= f.label :name, 'ã‚¿ã‚¹ã‚¯å' %>
    <%= f.text_field :name, placeholder:"ã‚¿ã‚¹ã‚¯åã§æ¤œç´¢" %>
  </div>
  <div class="field">
    <%= f.label :status, 'ã‚¹ãƒ†ãƒ¼ã‚¿ã‚¹' %>
    <%= f.select :status, [["æœªç€æ‰‹", "æœªç€æ‰‹"], ["ç€æ‰‹ä¸­", "ç€æ‰‹ä¸­"], ["å®Œäº†", "å®Œäº†"]], include_blank: "é¸æŠžã—ã¦ä¸‹ã•ã„" %>
  </div>
</div>
<div class="actions">
  <%= f.submit 'æ¤œç´¢', class: "btn btn-dark btn-sm" %>
</div>
<% end %>
<h1>ã‚¿ã‚¹ã‚¯ä¸€è¦§</h1>
<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
<div class="table">
  <table id="table">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.task.name') %></th>
        <th width="620"><%= t('activerecord.attributes.task.description') %></th>
        <th><%= t('activerecord.attributes.task.status') %></th>
        <th><%= link_to "#{t('activerecord.attributes.task.priority')}ðŸ”½", tasks_path(sort_priority: "true") %></th>
        <th><%= link_to "#{t('activerecord.attributes.task.deadline')}ðŸ”¼", tasks_path(sort_deadline: "true") %></th>
        <th><%= link_to "#{t('activerecord.attributes.task.created_at')}ðŸ”½", tasks_path %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td ><%= task.description %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
          <td><%= task.deadline.strftime("%Y-%m-%d") %></td>
          <td><%= task.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= link_to 'è©³ç´°', task, class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to 'ç·¨é›†', edit_task_path(task), class: "btn btn-outline-success btn-sm" %></td>
          <td><%= link_to 'å‰Šé™¤', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


<%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
