<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>詳しい内容:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>終了期限:</strong>
  <%= @task.deadline.strftime("%Y-%m-%d") %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
