<div><%= link_to "ユーザー新規作成", new_admin_user_path %></div>
<div>
<table>
  <thead>
    <tr>
      <th width="100">ユーザーID</th>
      <th width="100">ユーザー名</th>
      <th width="100">タスク数</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, admin_user_path(user.id) %></td>
      <td><%= user.tasks.count %></td>
      <td><%= link_to '編集', edit_admin_user_path(user.id), class: "btn btn-outline-success btn-sm" %></td>
      <td><%= link_to '削除', admin_user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

 


