<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="white">
    <% if logged_in? %>
      <%= link_to current_user.name, user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <%= link_to "一覧", tasks_path %>
      <% if current_user.admin? %>
        <%= link_to "管理者画面", admin_users_path %>
      <% end %>
    <% else %>
      <%= link_to "新規登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>
  </header>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
